<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="WorkoutDbEntities2" connectionString="metadata=res://*/WorkOutEMS.csdl|res://*/WorkOutEMS.ssdl|res://*/WorkOutEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN5CG531225R;initial catalog=WorkoutDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>