<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="WorkoutDbEntities" connectionString="metadata=res://*/WorkoutEMS.csdl|res://*/WorkoutEMS.ssdl|res://*/WorkoutEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN5CG531225R;initial catalog=WorkoutDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkoutDbEntities1" connectionString="metadata=res://*/WorkoutEMS.csdl|res://*/WorkoutEMS.ssdl|res://*/WorkoutEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN5CG531225R;initial catalog=WorkoutDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkoutDbEntities2" connectionString="metadata=res://*/WorkOutEMS.csdl|res://*/WorkOutEMS.ssdl|res://*/WorkOutEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN5CG531225R;initial catalog=WorkoutDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>