
<form novalidate[formGroup]="formCate" calss="form-Inline" (ngSubmit)="saveForm(frmCate)">


  <div class="form-group col-md-12">
    <input type="text" name="name" id="name" formControllName="name" class="form-control" [ngClass]="(is-valid :f.name.valid,'is-invalid' :f,name.invalid && f.name.dirty)" />

    <div *ngif="f.name.invalid && f.name.dirty && f.name.errors?.required" class="invalid-feedback"></div>
    Category Name is required
  </div>
  <br />
  <button type="submit" [disabled]="|frmCate.valid" class="btn btn-success btn-Ig">+</button>
  <div *ngif="f.name.invaild && f.name.dirty && f.name.errors?.minLength" class="invalid-feedback"></div>
  Minimum 3 Characters
</form>

